.commentSection {
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentSection h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.textarea {
    height: 100px;
    resize: none;
    color: black;
}

.submitButton {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.commentsList {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.commentText {
    font-weight: 400;
    margin-bottom: 5px;
    color: #333;
}
